body {
  background-color: #ffdfb8;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.judul {
  margin: 30px 0;
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px magenta;
  padding: 15px;
  width: 220px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 12px;
  height: 150px;
  object-fit: cover;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, violet, purple);
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
